* {
    margin: 0;
    padding: 0;
}

@import "partials/mixins";
@import "partials/paginas";

/* Estilos al header */
header {
    background-color: #6c4f3d;

    nav {
        text-align: center;
        padding: 5px;
        @include flex;

        img {
            width: 60px;
            height: 54px;
            border-radius: 100%;
            transition: scale 0.3s ease-in-out;
            &:hover{
                scale: 115%;
            }
        }

        a {
            text-decoration: none;
            font-size: 25px;
            @include googlefont;
        }
    }
}

/* Estilos al main */
main {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .img-fluid{
        width: 100%;
        height: auto;
    }

    section {
        margin: 15px;

        /* Estilos del intro box */
        .intro {
            border: 1px solid #ccb7a7e0;
            background-image: linear-gradient(#f3e0cc, #fff);
            text-align: center;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            border-radius: 20px;

            img {
                width: 350px;
                height: 250px;
            }

            p {
                margin-top: 10px;
                @include googlefont;
                color: #11242a;
                text-align: center;
                font-weight: bold;
                line-height: 30px;
            }
        }
    }
//estilos a las tarjetas con ejemplos de productos
    .productos {
        text-align: center;
        @include flex;
        flex-direction: row;

        .tarjetas {
            @include googlefont;
            color: #11242a;
            width: 300px;
            border-radius: 15px;
            margin-top: 10px;
            margin-left: 20px;
            background-color: #fff;
            transition: box-shadow 0.3s ease-in-out;
            transition: scale 0.3s ease-in-out;

            /* Aplicamos sombreado cuando el cursor hovers over the box */
            &:hover {
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
                scale: 103%;

                img {
                    border-radius: 35px;
                }
            }

            img {
                width: 250px;
                height: 230px;
                padding: 20px;
                border-radius: 100%;
                transition: border-radius 0.4s ease-in-out;
            }
            p{
                padding: 25px;
                text-align: justify;
            }
        }
    }


    /* Estilos a la ultima section de la pagina de inicio */
    section {
        .bottom {
            border: 1px solid #ccb7a7e0;
            background-image: linear-gradient(to top, #dbc8b7, #e6ddd5);
            @include flex;
            border-radius: 20px;

            img {
                width: 350px;
                height: 150px;
                border-radius: 20px;
            }

            .listabottom {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                @include googlefont;
                color: #180202;
                text-align: justify;
                line-height: 30px;
            }
        }
    }
}

/* Estilos al footer */
footer {
    background-color: #c8b5a6;
    @include flex;
    padding: 10px;

    .copy {
        @include googlefont;
        color: black;
        margin-right: 200px;
    }

    .redes {
        margin-left: 200px;

        a {
            padding: 10px;
            @include googlefont;
            color: black;
            text-decoration: none;
        }
    }
}