@import "mixins";

//Damos estilos a los Titulos de cada pagina
.titulo-paginas {
    @include googlefont;
    font-weight: bold;
    color: #11242a;
    padding: 25px;
    margin-left: 10px;
    margin-top: 10px;
    @include flex;
}
//Estilos para la Pagina Nosotros
.nosotros {
    @include flex;
    @include googlefont;
    color: #11242a;
    background-image: linear-gradient(#e4ded9, #e8e4e1);
    border-radius: 3%;
}
//Estilos para la Pagina Locales
.locales {
    @include flex;
    text-align: center;
    @include googlefont;
    font-weight: bold;

    img {
        height: auto;
        width: 60%;
    }

    p{
        margin-top: 2%;
    }
}
//Estilos para la Pagina Contactanos
.formulario {
    @include flex;
    .mb-3 {
        width: 100%;
    }
}